h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

/* main styles */
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav {
    display: flex;
    align-items: center;
}

.head-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100% - 40px) / 2);
}

.nav-item {
    text-decoration: none;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-item:hover,
.nav-item:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
    outline: none;
}

.contacts {
    font-style: normal;
}

.contact-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Hero */
.hero.section {
    padding: 188px 0;
}

.hero {
    background: #2e2f42;
    color: #fff;
    display: flex;
    justify-content: center;
}

.hero .container {
    text-align: center;
}

.hero-title {
    
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
}

.hero-btn {
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    outline: none;
}

/* Features */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list,
.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;    
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.list-item-title,
.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-item-text,
.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

/* Team */
.team {
    background: #f4f4fd;
}

.team-title,
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.member {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
    flex-basis: calc((100% - 72px) / 4);
}

.member-info-wrapper {
    padding: 32px 0
}

.member .image {
    padding-bottom: 32px;
}

/* Portfolio */
.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;    
}

.portfolio-info-wrapper {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
}

.portfolio-list {
    gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100% - 48px) / 3);
}

/* Footer */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.foot-logo-part {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}